/*
This file is a Razor Page which basically combines HTML and C# with the @ symbol.
- @page and @model IncidentList - declare this file a Razor Page and links it to the C# model called IncidentList
- @{ ... } block - sets view data such as the page title and layout.
*/


@page
@model IncidentList
@{
    ViewData["Title"] = "Safety Database";
    Layout = "~/Pages/Layouts/_Layout2New.cshtml";
}

@using Microsoft.VisualBasic;

<link href="~/css/custom/safetydatabase.css" rel="stylesheet" asp-append-version="true" />

@* <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/SafetyDatabase/IncidentList">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Incidents</li>
    </ol>
</nav> *@

@Html.Raw(@Model.ErrorMessage)


<div class="row">
    <div class="col-12">
        <h1 class="GreyText">Safety Database | Incidents</h1>
        <hr />
    </div>
</div>

<div class="d-flex flex-wrap mb-3" style="gap: 10px;">
    <!-- Total -->
    <div class="StatDiv FilterListController" data-FilterBy="Total" data-IncidentTypeID="0">
        <div class="incident-card total">
            <div class="incident-title">Total Incidents: <span class="incident-count TotalIncidentsCount">0</span></div>
        </div>
    </div>

    <!-- Citation DOT -->
    <div class="StatDiv FilterListController" data-FilterBy="DOT" data-IncidentTypeID="10">
        <div class="incident-card citationDOT">
            <div class="incident-title">DOT Citation: <span class="incident-count CitationDOTCount">0</span></div>
        </div>
    </div>

    <!-- Citation MSHA -->
    <div class="StatDiv FilterListController" data-FilterBy="MSHA" data-IncidentTypeID="8">
        <div class="incident-card citationMSHA">
            <div class="incident-title">MSHA Citation: <span class="incident-count CitationMSHACount">0</span></div>
        </div>
    </div>

    <!-- Citation Other -->
    <div class="StatDiv FilterListController" data-FilterBy="Other" data-IncidentTypeID="9">
        <div class="incident-card citationOther">
            <div class="incident-title">Other Citation: <span class="incident-count CitationOtherCount">0</span></div>
        </div>
    </div>

    <!-- First Aid -->
    <div class="StatDiv FilterListController" data-FilterBy="FirstAid" data-IncidentTypeID="2">
        <div class="incident-card first-aid">
            <div class="incident-title">First Aid: <span class="incident-count FirstAidCount">0</span></div>
        </div>
    </div>

    <!-- Recordable -->
    <div class="StatDiv FilterListController" data-FilterBy="Recordable" data-IncidentTypeID="1">
        <div class="incident-card recordable">
            <div class="incident-title">Recordable: <span class="incident-count RecordableCount">0</span></div>
        </div>
    </div>

    <!-- Spill -->
    <div class="StatDiv FilterListController" data-FilterBy="Spill" data-IncidentTypeID="7">
        <div class="incident-card spill">
            <div class="incident-title">Spill: <span class="incident-count SpillCount">0</span></div>
        </div>
    </div>

    <!-- Release -->
    <div class="StatDiv FilterListController" data-FilterBy="Release" data-IncidentTypeID="11">
        <div class="incident-card release">
            <div class="incident-title">Release: <span class="incident-count ReleaseCount">0</span></div>
        </div>
    </div>

    <!-- Property Damage -->
    <div class="StatDiv FilterListController" data-FilterBy="PropertyDamage" data-IncidentTypeID="3">
        <div class="incident-card property-damage">
            <div class="incident-title">Property Damage: <span class="incident-count PropertyDamageCount">0</span></div>
        </div>
    </div>

    <!-- Misfire -->
    <div class="StatDiv FilterListController" data-FilterBy="Misfire" data-IncidentTypeID="4">
        <div class="incident-card misfire">
            <div class="incident-title">Misfire: <span class="incident-count MisfireCount">0</span></div>
        </div>
    </div>

    <!-- Problem Hole -->
    <div class="StatDiv FilterListController" data-FilterBy="ProblemHole" data-IncidentTypeID="6">
        <div class="incident-card problemhole">
            <div class="incident-title">Problem Hole: <span class="incident-count ProblemHoleCount">0</span></div>
        </div>
    </div>

    <!-- Near Miss -->
    <div class="StatDiv FilterListController" data-FilterBy="NearMiss" data-IncidentTypeID="5">
        <div class="incident-card near-miss">
            <div class="incident-title">Near Miss: <span class="incident-count NearMissCount">0</span></div>
        </div>
    </div>

</div>

<ul class="nav container-m-nx bg-lighter container-p-x py-1 mb-4" style="padding-bottom:0; margin-bottom:0">

    <li class="nav-item col-12 d-none" style="padding:10px">
        <div class="d-flex flex-wrap" style="gap: 25px;">

            <div class="d-none">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Incident Summary:</strong></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Citation:</strong> <span class="CitationCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>First Aid:</strong> <span class="FirstAidCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Spill:</strong> <span class="SpillCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Property Damage:</strong> <span class="PropertyDamageCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Problem Hole & Misfire:</strong> <span class="ProbHoleMisfireCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Near Miss:</strong> <span class="NearMissCount">18</span></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="IncidentSummaryLabel"><strong>Total Incidents:</strong> <span class="TotalIncidentsCount">18</span></div>
                </div>
            </div>
        </div>
        <hr class="mb-0 pb-0" />
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px">
        <label class="form-label" for="IncidentTypeID">Incident Type</label>
        <select class="select2Dropdown form-control" id="IncidentTypeID">
            <option value="0">All</option>
            @foreach (var w in Model.IncidentTypeList)
            {
                <!option value="@w.ID" @(w.ID == Model.SessionVariables.CurrentSafetyIncidentTypeID ? "selected" : "")>
                    @w.Text
                </!option>
            }
        </select>
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px">
        <label class="form-label" for="ResponsiblePartyID">Responsible Party</label>
        <select class="select2Dropdown form-control" id="ResponsiblePartyID">
            <option value="0">All</option>
            @foreach (var w in Model.ResponsiblePartyList)
            {
                <!option value="@w.ID" @(w.ID == Model.SessionVariables.CurrentSafetyResponsiblePartyID ? "selected" : "")>
                    @w.Text
                </!option>
            }
        </select>
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px">
        <label class="form-label" for="RegionID">Region</label>
        <select class="select2Dropdown form-control" id="RegionID">
            <option value="0">All</option>
            @foreach (var w in Model.RegionList)
            {
                <!option value="@w.ID" @(w.ID == Model.SessionVariables.CurrentSafetyRegionID ? "selected" : "")>
                    @w.Text
                </!option>
            }
        </select>
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px">
        <label class="form-label" for="LocationID">Location</label>
        <select class="select2Dropdown form-control" id="LocationID">
            <option value="0">All</option>
            @foreach (var w in Model.LocationList)
            {
                <!option value="@w.ID" @(w.ID == Model.SessionVariables.CurrentSafetyLocationID ? "selected" : "")>
                    @w.Text
                </!option>
            }
        </select>
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px;">
        <label class="form-label" asp-for="StartDate">Start Date</label>
        <input type="date" class="form-control" asp-for="StartDate" id="StartDate" min="1950-01-01" style="font-size: 1rem; height: calc(1.5em + 1rem + 2px);">
    </li>

    <li class="nav-item col-md-4 col-xl-2" style="padding:10px">
        <label class="form-label" asp-for="EndDate">End Date</label>
        <input type="date" class="form-control" asp-for="EndDate" id="EndDate" min="1950-01-01" style="font-size: 1rem; height: calc(1.5em + 1rem + 2px);">
    </li>    

</ul>

<div class="table-responsive">
    <table class="datatables-main table table-striped table-bordered table-hover dt-responsive nowrap table-sm table-striped" style="width:100%" id="main-table">
        <thead>
            <tr>

                <th></th>
                <th>IncidentID</th>
                <th>Incident</th>
                <th>IncidentTypeID</th>
                <th>Responsible Party</th>
                <th>Region</th>
                <th>Location</th>
                <th>Date</th>
                <th>Activity</th>
                <th>What Happened</th>
                <th>LocationID</th>
                <th>RegionID</th>
                <th>ResponsiblePartyID</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="incidentTypeModal" tabindex="-1" aria-labelledby="incidentTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="incidentTypeModalLabel">Select Incident Type</h4>
            </div>
            <div class="modal-body">
                <div class="list-group" id="incidentTypeList">
                    @foreach(var w in Model.IncidentTypeList)
                    {
                        <button type="button" class="list-group-item list-group-item-action" data-id="@w.ID">@w.Text</button>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="incidentTypeNextBtn" data-redirect="">Next</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Warning!</h4>
            </div>
            <div class="modal-body">
                You are about to delete an incident record and its associated data. Are you sure you want to do this?
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" id="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<a href="/api/incidentlistview/getlist" target="_blank" class="btn btn-primary d-none">Check API</a>
<input type="hidden" asp-for="AddAllToLocations" id="AddAllToLocations" />


@section Scripts {
    <script src="~/js/Utilities.js" asp-append-version="true"></script>
    <script src="~/js/UtilityInputMasks.js" asp-append-version="true"></script>
    <script src="~/js/setselectedsessionvariables.js" asp-append-version="true"></script>

    <script src="~/js/DataTableFormatters.js" asp-append-version="true"></script>
    <script src="~/js/ListViews/IncidentList.js" asp-append-version="true"></script>
    <script src="~/js/DataTableSelect1.js" asp-append-version="true"></script>
    <script src="~/js/DataTableSelect2.js" asp-append-version="true"></script>
    <script src="~/js/CascadingDropdowns_SafetyDatabase.js" asp-append-version="true"></script>
	<script src="~/js/ExcelExportButton.js" asp-append-version="true"></script>
    <script src="~/js/select2dropdowninit.js" asp-append-version="true"></script>
}
